.dashboard {
    display: flex;
    height: auto;
}

.dashboard-left {
    flex: 3;
    /* height: 400px; */
}

.dashboard-right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.dashboard-right-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.dashboard-right-top {
    padding: 0 16px 16px;
}

.dashboard-right-top-container {
    padding: 16px;
    border-radius: 8px;
    background-color: #2c2c2c;
}

.dashboard-right-bottom {
    padding: 0 16px;
    flex: 1;
}

.dashboard-right-bottom-container {
    padding: 16px;
    border-radius: 8px;
    background-color: #2c2c2c;
    height: 100%;
}

#selected-category {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #000;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.pieContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.pieBackground {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    position: relative;
} 
  
.pie {
    transition: all 1s;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    clip: rect(0px, 100px, 200px, 0px);
}
  
.hold {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    clip: rect(0px, 200px, 200px, 100px);
}

.chart-legend {
    display: flex;
    flex-direction: column;
    align-self: start;
}

.chart-legend-item {
    position: relative;
    line-height: 1.6;
    cursor: pointer;
}

/*****************************
* Table
******************************/

/* .table-container table {
    border-collapse: collapse;
    border-spacing: 0pt;
    width: 100%;
    border-radius: 12px;
}

.table-container th {
    padding: 17px 0;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    width: 320px;
    font-size: 20px;
} */

/* .table-container th:after {
    content: "";
    display: block;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 24px;
} */

/* .table-container tbody tr:not(:last-child) {
    border-bottom: 1px solid #FFFFFF;
}

.table-container td {
    padding: 14px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}

.table-container tbody tr:hover{
    background-color: #ffffff27;
    transition: 0.2s;
    cursor: pointer;
} */

/*****************************
* Homepage
******************************/

/* .homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.table-container .expense-amount {
    letter-spacing: 1px;
    color: #FF0000;
    font-weight: bold;
}

.table-container .expense-amount span {
    font-size: 16px;
}

.table-container .income-amount {
    letter-spacing: 1px;
    color: #2AC904;
    font-weight: bold;
}

.table-container {
    background-color: #2c2c2c;
    margin-bottom: 16px;
    border-radius: 12px;
    padding: 10px 10px;
    width: 100%;
}

.no-transaction-container {
    text-align: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 15px;
    font-size: 18px;
}

.pagination a p {
    font-size: 18px;
    width: 15px;
}

.pagination .active {
    font-weight: 800;
}

.container {
    min-height: 16em;
}

.tab2 {
    position: absolute;
    left: 100px;
}

.container--tabs {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 38px;
}

.container--tabs .tab {
    min-height: 2em;
    padding: 8px 10px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #59AAD0;
    color: #000000;
    transition: background-color 0.25s;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: 600;
    font-size: 19px;
}

.container--tabs .tabs--active {
    background-color: #BBDCEB;
    color: #000000;
    z-index: 99;
    height: 40px;
    box-shadow: 10px -8px 20px -13px #25729b
}

.add-budget {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 42px;
    background-color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}

.add-budget img {
    width: 30%;
    font-weight: bold;
}

.add-budget p {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 0px 0 10px;
}

.custom-modal {
	width: 100vw;
	height: 100vh;
    background-color: #ffffff8c;
	position: fixed;
	z-index: 9990;
	top: 0;
	left: 0;
}

.custom-modal--bg {
	width: inherit;
	height: inherit;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 9991;
}

.custom-modal--container {
	width: 100%;
	max-width: 450px;
	max-height: 100%;
	position: absolute;
	z-index: 9993;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.custom-modal--content {
	background: #2c2c2c;
	width: 100%;
	padding: 30px 20px;
	position: relative;
	z-index: 9993;
	animation: customModalAnimate 0.4s;
	transition: all 0.1s ease-in;
    border-radius: 8px;
}

.custom-modal--content .modal-content {
	width: 100%;
	min-height: 120px;
	display: flex;
	justify-content: space-around;
}

.custom-modal-transaction--content {
	background: #2c2c2c;
	width: 100%;
	padding: 28px 28px;
	position: relative;
	z-index: 9993;
	animation: customModalAnimate 0.4s;
	transition: all 0.1s ease-in;
    border-radius: 8px;
}

.custom-modal-transaction--container {
	width: 100%;
	max-width: 340px;
    text-align: center;
    max-height: 100%;
	position: absolute;
	z-index: 9993;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.custom-modal-transaction--content .modal-transaction-content {
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.custom-modal .modal-close {
	color: white;
	position: absolute;
	z-index: 9994;
	bottom: 0;
	right: 0;
	transform: translate(0, 110%);
	font-style: normal;
	font-size: 24px;
	font-family: Arial, Baskerville, monospace;
	line-height: 24px;
	cursor: pointer;
}

.custom-modal--cancel {
    position: absolute;
    display: flex;
    top: -60px;
    right: -45px;
    width: 40px;
    height: 40px;
    background: #ffffffba;
    border-radius: 50%;
    box-shadow: 5px 5px 10px -7px #25729b;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custom-modal--cancel img {
    width: 50%;
}

.custom-modal--header {
	width: 100%;
	padding: 0 0 16px 0;
	position: relative;
	font-size: 20px;
	z-index: 9993;
	animation: customModalAnimate 0.4s;
	transition: all 0.1s ease-in;
}

.custom-modal.modal-hide {
	display: none !important;
}

.custom-input-modal {
    background-color: #FFFFFF;
    border-radius: 4px;
    color: #000000;
    padding: 5px 10px 5px 16px;
    font-size: 18px;
    margin-top: 5px;
    width: 100%;
}

.budget-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 0;
}

.budget-input {
}

.budget-dropdown {
    padding: 10px;
    font-size: 18px;
}

.budget-input .custom-btn {
    margin: 12px auto 12px auto;
    background-color: #FFFFFF;
    color: #000000;
    height: 45px;
    font-size: 20px;
    border-radius: 4px;
}

.budget-input .custom-btn:hover{
    background-color: #2c2c2c;
    color: #FFFFFF;
}

.budget-input label {
    margin: 0;
} */



/*****************************
* Chart
******************************/
.container--chart {
    position: relative;
    padding: 0;
    height: 100%;
    display: flex;
    background-color: #2c2c2c;
    border-radius: 12px;
}

.inner-container--chart{
    border-radius: 12px;
    color: #fff;
    width: 100%;
    margin-top: auto;
}

.chart-title {
    font-size: 24px;
    font-weight: 500;
    color: #003664;
}

.container--chart .table-container {
    padding: 50px;
}

.label-bar {
    position: absolute;
    top: 115px;
    z-index: 3;
}

.label-bar.expense-amount {
    left: 80%;
}

.label-bar.income-amount {
    top: 90px;
    left: 80%;
}

.label-bar.income-amount::before {
    background-color: #2AC904;
}

.label-bar.expense-amount::before {
    background-color: #FF0000;
}

.label-bar::before {
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    left: -18px;
    top: 3px;
    border-radius: 5px;
}

.currency-label {
    position: absolute;
    z-index: 1;
    left: 70px;
    top: 60px;
}

#q-graph {
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0;
    font-size: 11px;
}

#q-graph caption {
    caption-side: top;
    width: 600px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    top: -40px;
    position: relative;
    z-index: 10;
    font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td {
    position: absolute;
    bottom: 25px;
    width: 50px;
    z-index: 2;
    margin: 0;
    padding: 0;
    text-align: center;
}
#q-graph td {
    transition: all 0.3s ease;
}

#q-graph .expense-bar:hover {
    background-color: #970000;
}

#q-graph .income-bar:hover {
    background-color: #1a8100;
}

#q-graph thead tr {
    left: 60%;
    top: 10%;
    bottom: auto;
}

#q-graph thead th {
    width: 7.5em;
    height: auto;
    padding: 0.5em 1em;
}

#q-graph thead th.expense-bar {
    top: 0;
    left: 0;
    line-height: 2;
}

#q-graph thead th.income-bar {
    top: 2.75em;
    line-height: 2;
    left: 0;
}

#q-graph tbody tr {
    height: 296px;
    padding-top: 2px;
    color: #aaa;
}

#q-graph #q1 {
    left: 0;
}

#q-graph #q2 {
    left: 25%;
}

#q-graph #q3 {
    left: 50%;
}

#q-graph #q4 {
    left: 75%;
}

#q-graph tbody th {
    bottom: -10px;
    vertical-align: top;
    font-weight: normal;
    width: 110px;
    font-size: 14px;
    color: #fff;
}

#q-graph .bar {
    width: 40px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: none;
    color: #000;
}

#q-graph .bar p {
    margin: 5px 0 0;
    padding: 0;
    opacity: 0.4;
}

#q-graph .expense-bar {
    left: 10px;
    background: linear-gradient(#ff0000, #ff00004d, #ff000026, #ff000000);
}

#q-graph .income-bar {
    left: 60px;
    background: linear-gradient(#2ac904, #2bc9044d, #2bc90426, #2bc90400);
}

.bottom-line::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #ffffff66;
    bottom: 50px;
    z-index: 2;
}

/*****************************
* Responsive
******************************/
@media only screen and (max-width: 800px) {
    /* .container{
        max-width: 730px;
    } */

    .inner-container--chart {
        width: 689px;
    }

    #q-graph #q1 {
        left: 50px;
    }

    #q-graph #q2 {
        left: 200px;
    }

    #q-graph #q3 {
        left: 350px;
    }

    #q-graph #q4 {
        left: 500px;
    }
}

@media only screen and (max-width: 425px) {
    /* .container--tabs {
        width: 120px;
    }

    .table-container th {
        padding: 18px 12px 8px 16px;
        font-size: 16px;
    } */

    /* .table-container th:after {
        padding-bottom: 18px;
    } */

    /* .table-container td {
        padding: 16px 4px;
        font-size: 16px;
    }

    .container--tabs .tab {
        font-size: 18px;
    }

    .container{
        max-width: 380px;
    }

    .custom-modal--container {
        max-width: 320px;
    }

    .budget-form {
        flex-direction: column;
        align-items: stretch;
        padding: 25px 20px;
    }

    .budget-dropdown {
        margin-bottom: 14px;
        font-size: 14px;
    }

    .budget-dropdown option {
        padding: 0;
        font-size: 14px;
    }

    .budget-input {
        padding-left: 0;
    }

    .custom-input-modal {
        margin-bottom: 14px;
        padding: 5px 10px 5px 16px;
        font-size: 14px;
        width: 100%;
    }

    .custom-modal--cancel {
        top: -50px;
        right: -35px;
        width: 40px;
        height: 40px;
    } */

    .inner-container--chart {
        width: 340px;
    }

    .container--chart {
        width: 380px;
    }

    #q-graph #q1 {
        left: 0px;
    }

    #q-graph #q2 {
        left: 60px;
    }

    #q-graph #q3 {
        left: 120px;
    }

    #q-graph #q4 {
        left: 160px;
        top: 130px;
    }

    #q-graph .bar {
        width: 20px;
    }

    #q-graph .expense-bar {
        left: 25px;
    }

    .label-bar::before{
        height: 10px;
        width: 20px;
        left: -24px;
        top: 2px;
    }

    .label-bar{
        font-size: 12px;
    }
    
    .chart-title{
        font-size: 20px
    }
}

@media only screen and (max-width: 375px) {
    /* .container--tabs {
        width: 80px;
        height: 32px;
    }

    .container--tabs .tabs--active {
        height: 34px;
    }

    .tab2 {
        left: 68px;
    }

    .table-container th {
        padding: 18px 12px 8px 16px;
        font-size: 14px;
    } */

    /* .table-container th:after {
        padding-bottom: 18px;
    } */

    /* .table-container td {
        padding: 16px 4px;
        font-size: 14px;
    }

    .container--tabs .tab {
        font-size: 14px;
    }

    .container{
        max-width: 330px;
    }

    .add-budget {
        width: 100px;
        border-radius: 8px;
        box-shadow: 10px 5px 20px -12px #25729b;
    }

    .custom-modal--container {
        max-width: 280px;
    } */

    .inner-container--chart {
        width: 285px;
    }

    .container--chart {
        width: 325px;
    }

    #q-graph #q1 {
        left: -10px;
    }

    #q-graph #q2 {
        left: 40px;
    }

    #q-graph #q3 {
        left: 90px;
    }

    #q-graph #q4 {
        left: 130px;
        top: 120px;
    }

    #q-graph .bar {
        width: 15px;
    }

    #q-graph .expense-bar {
        left: 30px;
    }

    .label-bar::before{
        left: -21px;
    }

    .label-bar{
        font-size: 12px;
    }

    .chart-title{
        font-size: 16px
    }

    .label-bar {
        top: 100px;
    }

    #q-graph tbody th {
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) {
    /* .container{
        max-width: 280px;
    }

    .custom-modal--container {
        max-width: 240px;
    } */

    .inner-container--chart {
        width: 240px;
    }

    .container--chart {
        width: 280px;
    }

    #q-graph #q1 {
        left: -20px;
    }

    #q-graph #q2 {
        left: 20px;
    }

    #q-graph #q3 {
        left: 60px;
    }

    #q-graph #q4 {
        left: 85px;
        top: 130px;
    }

    #q-graph .bar {
        width: 12px;
    }

    #q-graph .expense-bar {
        left: 35px;
    }

    .label-bar::before{
        left: -21px;
    }

    .label-bar{
        font-size: 12px;
    }

    .chart-title{
        font-size: 16px
    }

    #q-graph tbody th {
        font-size: 10px;
    }

    .label-bar.expense-amount {
        right: 30%;
        position: absolute;
    }

    .label-bar.income-amount {
        right: 38%;
        position: absolute;
        top: 25%;
    }

}

