
.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}
.sign-in .title {
    font-size: 2.5rem;
    color: #003664;
    max-width: 400px;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1px;
}
.sign-in .description {
    font-size: 1rem;
    color: #003664;
    max-width: 375px;
    text-align: center;
    margin: 1rem 0 1.5rem 0;
    line-height: 1.6;
    letter-spacing: 1.5px;
}
.sign-in .form-container {
    display: flex;
    flex-direction: column;
    background-color: #64C2EE;
    width: 100%;
    max-width: 400px;
    padding: 30px 60px;
    margin-bottom: auto;
}
@media screen and (max-width: 500px) {
    .sign-in .title {
        font-size: 2rem;
        max-width: 350px;
        line-height: 1.2;
    }
    .sign-in .description {
        font-size: 1rem;
        margin: 1rem 0 2.5rem 0;
    }
    .sign-in .form-container {
        max-width: 350px;
        padding: 20px 50px;
    }
}
@media screen and (max-width: 380px) {
    .sign-in .title {
        font-size: 1.5rem;
        max-width: 250px;
        line-height: 1.2;
    }
    .sign-in .description {
        font-size: 1rem;
        margin: 1rem 0 2rem 0;
    }
    .sign-in .form-container {
        max-width: 310px;
        padding: 20px 40px;
    }
}